
.height{

    height: 100vh;
}

.form-search{

    position: relative;
}

.form-search .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form-search span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.search-heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:black;
    /* margin-top: 68px; */
}


.search-heading span{
    background: black;
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.card-search{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(128, 17, 17);
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 26px; 
}

.card-body-search {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    height: 463px;
}

.search-card-body{
    width: 130%;
    height: 169px;
    font-size: larger;
    margin-bottom: auto;
    text-align: center;
}


.card-order{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 250, 250);
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 108px; 
}

.card-body-order {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    height: 463px;
}

.wishlist-cont{
     min-height: 150vh;
}

.cart-cont{
    min-height: 150vh;
}

/* =================Toasts======================================== */
.btn-toast {
    margin-right: 0.5rem !important
}

.btn-toast {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    padding: .7rem 1.5rem;
    border-radius: 0.1275rem
} 

.container-toast {
    margin-top: 100px
}
/* ================================================================= */