
    <div class="header">
     <div class="card-header p-4">
          <img style="width: 140px; margin-left: 361px; height: 125px;" src="/assets/logo_1.png" alt=""> 
      <img class="logo" src="https://example.com/logo.png">
      <p style="font-weight:bold">Dream Cover</p>
      <p> 29, Singla Street</p>
      <p>Sikeston,New Delhi 110034</p>
      <p>Phone:  +111-222-3333</p>
      <p>Email: dreamcover@gmail.com</p>
    </div>

