<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span> contact </span> us </h1>

    <div class="row">

        <form action="">
            <input type="text" placeholder="First Name" class="box">
            <input type="text" placeholder="Last Name" class="box">
            <input type="email" placeholder="Email" class="box">
             <input type="text" placeholder="Phone Number" class="box" maxlength="10">
             <input type="file" class="box">
            <textarea name="" class="box" placeholder="Message" id="" cols="30" rows="10" maxlength="100"></textarea>
            <button type="button" class=" btn-lg btn btn-secondary">Send Message</button>
        </form>

        <div class="image-about">
            <img src="/assets/contact.jpg" alt="">
        </div>

    </div>

</section>

<!-- contact section ends -->


