
<!-- featured section starts  -->
<div data-controller="product-owner">
 <div class=" d-flex justify-content-center align-items-center" style="margin-top: 130px;">
            <div class="col-md-6">
                <div class="form-search">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control form-input" placeholder="Search anything..." data-action="input->product-owner#search_box" data-product-owner-target="searchText" >
                </div>    
            </div> 
        </div>
<section class="featured" id="featured" >

    <h1 class="heading"> <span>All</span> products </h1>

    <div class="row"  data-product-owner-target="productGallery">
      
    </div>

</section>
</div>

<!-- featured section ends -->