<div data-controller = "product" >
<!-- --------------------------------arrival section starts ------------------------------- -->

    <!--<section class="arrival" id="arrival" >

    <h1 class="heading"> <span>new arrivals</span> 
    <div class="box-container" data-product-target="newArrival"  ></div>
  
    </section>-->
    
    
    <!-- -----------------------------arrival section ends------------------------------------ -->
    
    <!-- --------------------------featured section starts-----------------------------------  -->
    
    <section class="products-feature" id="featured">
    
     <h1 class="heading"> <span> New Arrival </span> </h1>
    
        <div class="products-feature-row" data-product-target="featuredProduct">
            
            
            
        </div>
    </section>
    
    <!-- -------------------------------------featured section ends -------------------------------->
    
    <!-- --------------------------------------gallery section starts----------------------------  -->
    
   

    <section class="featured" id="featured" >

    <h1 class="heading"> <span> products gallery </span> </h1>

    <div class="row"  data-product-target="productGallery">
      
    </div>

    </section>  
    
    <!-- ------------------------------------gallery section ends-------------------------- -->
    
    <!-- --------------------------------deal section starts--------------------------  -->
    
   
    
    <!-- -----------------------------------------deal section ends------------------------------------ -->

</div>




   
